<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="container container-v2">
    <div class="section-slideshow-v1">
      <div class="slick-side-h1 js-slideshow-v1">       
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "slideshow" %}
        <div class="itemv-slide-h1">
          <div class="info-sideh1">
            <div class="picture-slideshow">
              {% if block.settings.block_banerimage != blank %}
              <img src="{{block.settings.block_banerimage | img_url: 'master'}}" class="img-responsive img_slideh1" alt="">
              {% else %}
              <img src="//via.placeholder.com/1881x967" class="img-fluid img_slideh3" alt="slideshow">
              {% endif %}
            </div>

            <div class="box-content">
              {% if block.settings.block_subtitle != blank %}
              <p class="mb-0" style="color:{{block.settings.color_subtitle}};">{{block.settings.block_subtitle}}</p>
              {% endif %}              
              <div class="box-title">
                {% if block.settings.block_title_top != blank %}
                <h3 class="titlebig mb-0" style="color:{{block.settings.color_block_title_top}};">{{ block.settings.block_title_top }}</h3>
                {% endif %} 
              </div>
              <div class="box-button">
                {% if block.settings.block_buton != blank %}
                <a class="button-main3 button-{{block.id}}" href="{{block.settings.block_url}}" style="color:{{block.settings.color_block_button}}">
                  {{ block.settings.block_buton }}
                </a>
                {% endif %}
              </div>              
            </div>

          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</div>


<style>
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slideshow" %}
  .section-slideshow-v1 .button-{{block.id}}:before{
    border-color: {{block.settings.color_block_button}} !important;
  }
  .section-slideshow-v1 .button-{{block.id}}:hover {
    color: {{block.settings.color_block_button_hover}} !important;
  }
  .section-slideshow-v1 .button-{{block.id}}:hover:before{
    border-color: {{block.settings.color_block_button_hover}} !important;
  }
  {% endif %}
  {% endfor %}
  {% endif %}
</style>
{% schema %}
  {
  "name": "SLIDESHOW V1",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
		{
          "type": "image_picker",
          "id": "block_banerimage",
          "label": "Background slideshow",
          "info": "1881 x 967px recommended"
        },
        {
          "type": "text",
          "id": "block_title_top",
          "label": "Title sideshow top",
          "default": "Natural Soap<br>Collection"
        },
		{
           "type": "color",
           "id": "color_block_title_top",
           "label": "Color Title sideshow top",
           "default": "#010101"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
		{
           "type": "color",
           "id": "color_block_button",
           "label": "Color button",
           "default": "#000"
        },

		{
           "type": "color",
           "id": "color_block_button_hover",
           "label": "Color button hover",
           "default": "#f0bfb6"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V1",
      "category": "HOME",
	  "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Natural Soap<br>Collection",
            "block_buton": "Shop now"
          }
        },
         {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Skincare Soap<br>Collection",
            "block_buton": "Shop now"
          }
        },
         {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Body Soap<br>Collection",
            "block_buton": "Shop now"
          }
        }			
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
