<div data-section-id="{{ section.id }}" data-section-type="section-collection-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-collection-v2 pd-small" style="background: {{section.settings.bg_section}}">
    <div class="container container-v2">
      <div class="col-12 col-md-10 col-lg-8 px-0 mx-auto text-center">

        {% if section.settings.title_heading != blank %}
        <h3 class="title_heading mb-0" style="color: {{section.settings.color_title}}">{{section.settings.title_heading}}</h3>
        {% endif %}

        {% if section.settings.sub_heading != blank %}
        <p class="sub_heading" style="color: {{section.settings.color_sub_heading}}">{{section.settings.sub_heading}}</p>
        {% endif %}

      </div>
      <div class="row js-collection-v2">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == 'colection' %}
        <div class="col-12 col-item">
          <div class="item">
            <div class="box-img">

              <a href="{{block.settings.brand_url}}" class="">

                {% if block.settings.brand_img != blank %}
                <img data-src="{{block.settings.brand_img | img_url:'master'}}" class="lazyload img-fluid w-100" alt="_img_collection">
                {% else %}
                <img data-src="//via.placeholder.com/456x456" class="lazyload img-fluid w-100" alt="_img_collection">
                {% endif %}
              </a>

            </div>
            <div class="category-info">
              <div class="box-info">
                {% if block.settings.title_collection != blank %}
                <a href="{{block.settings.brand_url}}" class="">
                  <h3 class="title-collection" style="color: {{block.settings.color_title}}">{{block.settings.title_collection}}</h3>
                </a>
                {% endif %}
                {% if block.settings.sub_title != blank %}
                <p class="sub-title" style="color: {{block.settings.color_subtitle}}">{{block.settings.sub_title}}</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>
    </div>
  </div>
</div>

<style>
</style>

{% schema %}
{
  "name": "COLLECTION V2",
  "class": "index-section",
  "settings": [
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background Section",
      "default": "#f4f4f4"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Heading",
      "default": "Featured Categories"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Title Heading",
      "default": "They are made with vegetable oil and/or animals fats for their skin care properties. The soapmaker will often include additives to the soap for their healing, exfoliating and esthetic properties."
    },
    {
      "type": "color",
      "id": "color_sub_heading",
      "label": "Color",
      "default": "#666"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "colection",
      "name": "Item Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "info": "456 x 456px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_collection",
          "label": "Title Collection",
          "default": "Natural"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "(30 items)"
        },
        {
          "type": "color",
          "id": "color_subtitle",
          "label": "Color Sub Title",
          "default": "#777"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL collection",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "COLLECTION V2",
      "category": "HOME",
      "blocks": [
        {
          "type": "colection",
          "settings": {
            "title_collection": "Natural"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Bathing Bar"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Soaps"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Bath Salts"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Orange Squeeze"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Bathing Powder"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
