<div data-section-id="{{ section.id }}" data-section-type="section-info-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-info-v2 {% if section.settings.enable_pd_small %}pd-small{% endif %}" style="background: {{section.settings.bg_color}}">
    <div class="container container-v2">
      <div class="row mini-content align-items-center">
        <div class="col-lg-4 col-12 order-lg-1 order-2 order-md-2 col-md-6 text-lg-right text-md-center pt-lg-5 text-center">

          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == "Info" %}
          <div class="info-content">
            <div class="info">
              <div class="content">
                <div class="box-title d-flex align-items-center justify-content-end">
                  {% if block.settings.mini_title != blank %}
                  <div class="mini-title">
                    {{block.settings.mini_title}}
                  </div>
                  {% endif %}
                  {% if block.settings.img_content != blank %}
                  <img src="{{block.settings.img_content|img_url:'master'}}" alt="banner" />
                  {% else %}
                  <img src="//via.placeholder.com/27x27">
                  {% endif %}
                </div>
                {% if block.settings.mini_des !=blank  %}
                <div class="mini-des">
                  {{ block.settings.mini_des }}
                </div>
                {% endif %}
              </div>
            </div>
          </div>


          {% endif %}
          {% endfor %}
          {% endif %}

        </div>

        <div class="col-lg-4 order-md-1 order-1 order-lg-2 col-md-12 text-md-center col-12 pb-4  pb-lg-0">
          <div class="image-center text-center">
            <a href="" class="adv-thumb-link d-block">
              {% if section.settings.img_banner_info != blank %}
              <img src="{{section.settings.img_banner_info|img_url:'master'}}" alt="banner" />
              {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}	
              {% endif %}
            </a>
          </div>

        </div>
        <div class="col-lg-4 text-lg-left order-md-3 order-3 order-lg-3 col-md-6 text-md-center pt-lg-5 col-12 text-center">


          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == "Info-2" %}
          <div class="info-content info-right">
            <div class="info">

              <div class="content">
                <div class="box-title d-flex align-items-center justify-content-start">
                  {% if block.settings.img_content_2 != blank %}
                  <img src="{{block.settings.img_content_2|img_url:'master'}}" alt="banner" />
                  {% else %}
                  <img src="//via.placeholder.com/27x27">
                  {% endif %}
                  {% if block.settings.mini_title_right != blank %}
                  <div class="mini-title">
                    {{block.settings.mini_title_right}}
                  </div>
                  {% endif %}
                </div>

                {% if block.settings.mini_des_right !=blank  %}
                <div class="mini-des">
                  {{ block.settings.mini_des_right }}
                </div>
                {% endif %}
              </div>
              
                
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "INFO V2",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "checkbox",
      "id": "enable_pd_small",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f4f4f4"
    },
    {
      "type": "text",
      "id": "info_title",
      "label": "Title Info",
      "default": "ALL KINDS OF COFFEE"
    },
    {
      "type": "text",
      "id": "info_des",
      "label": "Description Info",
      "default": "Unique Flavors and Fresh Coffee"
    },
    {
      "type": "image_picker",
      "id": "img_banner_info",
      "info": "514 x 572px recommended",
      "label": "Image center"
    }
  ],
  "blocks": [
    {
      "type": "Info",
      "name": "Infomation-left",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_content",
          "info": "27 x 27px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "mini_title",
          "label": "Mini Title",
          "default": "Hand-made"
        },
        {
          "type": "text",
          "id": "mini_des",
          "label": "Mini Description",
          "default": "Non-organic antibacterial soaps contain chemicals like triclosan, paraben, and other toxic petrochemicals that disrupt the hormones in humans."
        }
      ]
    },
    {
      "type": "Info-2",
      "name": "Infomation-right",
      "settings": [
        {
          "type": "url",
          "id": "banner_url",
          "label": "URL",
          "default": "/collections/all"
        },
        {
          "type": "image_picker",
          "id": "img_content_2",
          "info": "27 x 27px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "mini_title_right",
          "label": "Mini Title Right",
          "default": "Cold-Pressed"
        },
        {
          "type": "text",
          "id": "mini_des_right",
          "label": "Mini Description Right",
          "default": "Cold-process soap is a beautiful looking handmade soap that, when scented with essential oils and colored with botanical elements and has no additives"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "INFO V2",
      "category": "HOME",
      "blocks": [
        {
          "type": "Info",
          "settings": {
            "mini_title": "Hand-made",
			"mini_des": "Non-organic antibacterial soaps contain chemicals like triclosan, paraben, and other toxic petrochemicals that disrupt the hormones in humans."
          }
        },
        {
          "type": "Info",
          "settings": {
            "mini_title": "Made With Love",
			"mini_des": "Our soaps really are totally natural – we even refuse to use ‘nature-identical’ ingredients. We begin the process of natural soap making by learning about the ingredients."
          }
        },
        {
          "type": "Info",
          "settings": {
            "mini_title": "100% Organic",
			"mini_des": "It's all natural without any additional preservatives. This is a good thing because mostly preservatives are chemicals that harm our health."
          }
        },
        {
          "type": "Info-2",
          "settings": {
            "mini_title_right": "Cold-Pressed",
			"mini_des_right": "Cold-process soap is a beautiful looking handmade soap that, when scented with essential oils and colored with botanical elements and has no additives"
          }
        },
        {
          "type": "Info-2",
          "settings": {
            "mini_title_right": "Vegan & Cruelty-Free",
			"mini_des_right": "This is a natural olive oil soap, meaning that it’s also super moisturizing and leaves your skin soft. Palm oil free. It’s also fair trade and sustainably produced."
          }
        },
        {
          "type": "Info-2",
          "settings": {
            "mini_title_right": "For All Skin Types",
			"mini_des_right": "Our organic soaps are safe for most sensitive skin types and work great! The soaps use hypoallergenic vegan soap base of Organic Coconut, Palm, Olive and Palm Kernel oils."
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
