<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v3" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v3">
    <div class="slick-side-h3 js-slideshow-v3">       
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="item-slide">
        <div class="img-slide">
          <div class="d-none d-md-block">
            <img data-src="{% if block.settings.img_slide != blank %} {{block.settings.img_slide | img_url : 'master'}} {% else %}  //via.placeholder.com/1920x900 {% endif %}" class="lazyload img_desktop img-fluid w-100" alt="_img_slide_">
          </div>
          <div class="d-block d-md-none">
            {% if block.settings.img_slide_mb != blank %}
            <img data-src="{{block.settings.img_slide_mb | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide">
            {% else %}
            <img data-src="{{block.settings.img_slide | img_url : 'master'}}" class="lazyload img_desktop img-fluid w-100" alt="_img_slide">
            {% endif %}
          </div>
        </div>
        <div class="slide-content">
          {%  if block.settings.content != blank %}
          <p class="content" style="color: {{block.settings.color_content}}">{{block.settings.content}}</p>
          {% endif %}

          {%  if block.settings.title_slide != blank %}
          <h3 class="title-slide" style="color: {{block.settings.color_title}}">{{block.settings.title_slide}}</h3>
          {% endif %}
          {% if block.settings.button_slide != blank %}
          <div class="box-btn">
            <div class="btn-slide1">
              <a href="{{block.settings.url_btn}}" class="button-main1  btn-slide1-{{ block.id }}">
                {{block.settings.button_slide}}
              </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}
  .section-slideshow-v3 .slick-side-h3 .item-slide .slide-content .box-btn .btn-slide1-{{ block.id }} {
    background: linear-gradient(to right,{{block.settings.bg_color_hover_button}} 50%,{{block.settings.bg_color_block_button}} 50%) no-repeat scroll right bottom/210% 100% {{block.settings.bg_color_block_button}};
    color : {{block.settings.color_block_button}};
  }

  .section-slideshow-v3 .slick-side-h3 .item-slide .slide-content .box-btn .btn-slide1-{{ block.id }}:hover {
    color : {{block.settings.color_hover_text}};
  }

  {% endif %}
  {% endfor %}
</style>

{% schema %}
{
  "name": "SLIDESHOW V3",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_slide",
          "label": "Image slideshow for destop",
          "info": "1920 x 900px recommended"
        },
        {
          "type": "image_picker",
          "id": "img_slide_mb",
          "label": "Image slideshow for mobile",
          "info": "500 x 600px recommended"
        },
        {
          "type": "text",
          "id": "content",
          "label": "Sub Title ",
          "default": "100% PURE & NATURE"
        },
        {
          "type": "color",
          "id": "color_content",
          "label": "Color",
          "default": "#666"
        },
        {
          "type": "text",
          "id": "title_slide",
          "label": "Title ",
          "default": "Hand-made<br>Body Wash Soaps"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "button_slide",
          "label": "Button name",
          "default": "SHOP NOW"
        },
        {
          "type": "header",
          "content": "Background Color Button"
        },
        {
          "type": "color",
          "id": "bg_color_block_button",
          "label": "Background Color button",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_block_button",
          "label": "Color button",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_hover_button",
          "label": "Background Hover Color",
          "default": "#f0bfb6 "
        },
        {
          "type": "color",
          "id": "color_hover_text",
          "label": "Text Hover Color",
          "default": "#fff"
        },
        {
          "type": "url",
          "id": "url_btn",
          "label": "URL Button",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V3",
      "category": "HOME",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "content": "100% PURE & NATURE",
            "title_slide": "Hand-made<br>Body Wash Soaps"
          }
        },
        {
          "type": "slideshow",
          "settings": {
            "content": "SOAP & SKINCARE",
            "title_slide": "Create Your Own<br>Handcrafted Soaps"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
