<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{% for block in section.blocks %}
{% if block.type == "slideshow" %}
  {% if block.settings.fonts_sub_title !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_sub_title}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_title !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_title}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_sub_title2 !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_sub_title2}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
  {% if block.settings.fonts_button !=blank %}
  <link href="https://fonts.googleapis.com/css2?family={{block.settings.fonts_button}}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  {% endif %}
{% endif %}
{% endfor %}

<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v2-custom">
    <div class="slick-side-h2 js-slideshow-v2">       
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="itemv-slide-h2">
        <div class=" info-sideh2">
          <div class="picture-slideshow">
            <div class="d-none d-md-block">
              {% if block.settings.ena_slide_video %}
              {% if block.settings.url_ytb_video != blank %}
              <div class="over_slidevid"></div>
              {{block.settings.url_ytb_video}}
              {% endif %}
              {% else %}
              {% if block.settings.block_banerimage != blank %}
              
                <img data-src="{{block.settings.block_banerimage | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              
              {% else %}
              
                <img data-src="//via.placeholder.com/1920x900" class="lazyload img-fluid w-100" alt="_img_slide_">
              
              {% endif %}
              {% endif %}
            </div>
            <div class="d-block d-md-none">
              {% if block.settings.block_banerimage_mb != blank %}
              <a href="{{block.settings.block_url}}">
                <img data-src="{{block.settings.block_banerimage_mb | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              </a>
              {% else %}
              <a href="{{block.settings.block_url}}">
                <img data-src="{{block.settings.block_banerimage | img_url: 'master'}}" class="lazyload img-fluid w-100" alt="_img_slide_">
              </a>
              {% endif %}
            </div>
          </div>
          <div class="box-content {% if block.settings.select_position_content == 'left' %}box-content-left {% elsif block.settings.select_position_content == 'center' %}box-content-center {% elsif block.settings.select_position_content == 'right' %} box-content-right{% endif %}" >
            {% if block.settings.block_sub_title or block.settings.block_title or block.settings.block_sub_title2 or block.settings.block_buton != blank %}
            <div class="{%if settings.enable_rtl_mode %}text-right {% else %}{% if block.settings.select_textalign_content == 'left' %} text-left {% elsif block.settings.select_textalign_content == 'center' %} text-center {% else %} text-right {% endif %}{% endif %}box-info box-info-{{block.id}}">
              <div class="box-sub-title box-sub-title-{{block.id}}  animated">
                {% if block.settings.block_sub_title != blank %}
                <h3 class="title-small mb-0">{{ block.settings.block_sub_title }}</h3>
                {% endif %}
              </div>
              <div class="box-title box-title-{{block.id}} animated">
                {% if block.settings.block_title != blank %}
                <h3 class="titlebig mb-0">{{ block.settings.block_title }}</h3>
                {% endif %} 
              </div>
              <div class="box-sub-title2 box-sub-title2-{{block.id}}  animated">
                {% if block.settings.block_sub_title2 != blank %}
                <h3 class="title-small mb-0">{{ block.settings.block_sub_title2 }}</h3>
                {% endif %}
              </div>
{% if block.settings.block_buton != blank or block.settings.block_button2 != blank %}
  <div class="button-wrapper69 btn-animation-{{ block.id }} animated">
    {% if block.settings.block_buton != blank %}
      <a class="button-universal2 button-shop-{{ block.id }}" href="{{ block.settings.block_url }}">
        {{ block.settings.block_buton }}
      </a>
    {% endif %}

    {% if block.settings.block_button2 != blank %}
      <a class="button-universal2 button-shop-{{ block.id }}" href="{{ block.settings.block_url2 }}">
        {{ block.settings.block_button2 }}
      </a>
    {% endif %}
  </div>
{% endif %}
     
            </div>

             
            
            {% endif %}
          </div>




          
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<style>
  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slideshow" %}
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-content .button-shop-{{block.id}}{
    background: linear-gradient(to right,{{block.settings.bg_color_hover_button}} 50%,{{block.settings.bg_color_block_button}} 50%) no-repeat scroll right bottom/210% 100% {{block.settings.bg_color_block_button}};
    color : {{block.settings.color_block_button}};
  }
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-content .button-shop-{{block.id}}:hover{
    color : {{block.settings.color_hover_text}};
  }

  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title-{{block.id}}{    
    -webkit-animation-name: {{block.settings.effect_sub_title}};
    animation-name:  {{block.settings.effect_sub_title}}; 
  }
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-title-{{block.id}}{   
    -webkit-animation-name: {{block.settings.effect_title}};
    animation-name:  {{block.settings.effect_title}};
  }
  
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title2-{{block.id}}{    
    -webkit-animation-name: {{block.settings.effect_sub_title2}};
    animation-name:  {{block.settings.effect_sub_title2}}; 
  }
 
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .btn-animation-{{block.id}}{   
    -webkit-animation-name: {{block.settings.effect_button}};
    animation-name:  {{block.settings.effect_button}}; 
  }

  
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title-{{block.id}} .title-small{    
    color:{{block.settings.color_block_sub_title}};
    {% if block.settings.fonts_sub_title != blank %}
    font-family: '{{block.settings.fonts_sub_title}}';
      {% endif %}
  }
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-title-{{block.id}} .titlebig{   
    color:{{block.settings.color_block_title}};
    {% if block.settings.fonts_title != blank %}
    font-family: '{{block.settings.fonts_title}}';
      {% endif %}
  }
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title2-{{block.id}} .title-small{   
    color:{{block.settings.color_block_sub_title2}};
    {% if block.settings.fonts_sub_title2 != blank %}
    font-family: '{{block.settings.fonts_sub_title2}}';
      {% endif %}    
  }
  .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .btn-animation-{{block.id}} .button-universal2{   
    {% if block.settings.fonts_button != blank %}
    font-family: '{{block.settings.fonts_button}}';
      {% endif %}
  }


  
  @media(min-width:1900px){
    .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title-{{block.id}} .title-small{    
      font-size:{{block.settings.font_size_sub_title}}px;
    }
    .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-title-{{block.id}} .titlebig{   
      font-size:{{block.settings.font_size_title}}px;
    }
    .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .box-sub-title2-{{block.id}} .title-small{   
      font-size:{{block.settings.font_size_sub_title2}}px; 
    }
    .section-slideshow-v2-custom .slick-active .info-sideh2 .box-info-{{block.id}} .btn-animation-{{block.id}} .button-universal2{   
      font-size:{{block.settings.font_size_button}}px;
    }
  }
  
  
  {% endif %}
  {% endfor %}
  {% endif %}

@media (max-width: 768px){
.button-universal2{
        padding: 8px 12px !important;
        font-size: 12px;
      }}
      


html {
  scroll-behavior: smooth;
}

  
  
</style>

{% schema %}
{
  "name": "Slideshow-V2Custom Scroll",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "Slideshow",
      "settings": [
        {
          "type": "header",
          "content": "Position Content"
        },
        {
          "type": "select",
          "id": "select_position_content",
          "label": "Choose The Position Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "select_textalign_content",
          "label": "Text Align Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
        "type": "header",
        "content": "Subheading Slideshow 1"
        },
        {
          "type": "text",
          "id": "block_sub_title",
          "label": "Subheading",
          "default": "Soapic Store"
        },
        {
          "type": "color",
          "id": "color_block_sub_title",
          "label": "Color",
          "default": "#000"
        },
		{
          "type": "range",
          "id": "font_size_sub_title",
          "min": 15,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 20
        },
		{
          "type": "text",
          "id": "fonts_sub_title",
          "label": "Fonts Family"
        },
        {
          "type": "select",
          "id": "effect_sub_title",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
		{
          "type": "header",
          "content": "Heading Slideshow"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Heading",
          "default": "Natural Bathing Bar"
        },
        {
          "type": "color",
          "id": "color_block_title",
          "label": "Color",
          "default": "#000"
        },
		{
          "type": "range",
          "id": "font_size_title",
          "min": 50,
          "max": 120,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 80
        },
		{
          "type": "text",
          "id": "fonts_title",
          "label": "Fonts Family"
        },
        {
          "type": "select",
          "id": "effect_title",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
		{
          "type": "header",
          "content": "Subheading Slideshow 2"
        },
        {
          "type": "text",
          "id": "block_sub_title2",
          "label": "Subheading",
          "default": "Handcrafted with bursts of zesty appeal"
        },
        {
          "type": "color",
          "id": "color_block_sub_title2",
          "label": "Color",
          "default": "#000"
        },
		{
          "type": "range",
          "id": "font_size_sub_title2",
          "min": 18,
          "max": 80,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 20
        },
		{
          "type": "text",
          "id": "fonts_sub_title2",
          "label": "Fonts Family"
        },
        {
          "type": "select",
          "id": "effect_sub_title2",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },
        {
          "type": "header",
          "content": "Button Slideshow"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button Label",
          "default": "Shop now"
        },
        {
          "type": "text",
          "id": "block_button2",
          "label": "Button Label",
          "default": "Shop now"
        },
		{
          "type": "range",
          "id": "font_size_button",
          "min": 14,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 14
        },
		{
          "type": "text",
          "id": "fonts_button",
          "label": "Fonts Family"
        },
        {
          "type": "header",
          "content": "Background Color Button"
        },
        {
          "type": "color",
          "id": "bg_color_block_button",
          "label": "Background Color button",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "color_block_button",
          "label": "Color button",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_hover_button",
          "label": "Background Hover Color",
          "default": "#f0bfb6 "
        },
        {
          "type": "color",
          "id": "color_hover_text",
          "label": "Text Hover Color",
          "default": "#fff"
        },
        {
          "type": "textarea",
          "id": "block_url",
          "label": "URL Button",
          "default": "/collections/all"
        },
                {
          "type": "textarea",
          "id": "block_url2",
          "label": "URL Button2",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "effect_button",
          "label": "Choose The Effect",
          "options": [
            {
              "value": "bounce",
              "label": "Bounce"
            },
            {
              "value": "flash",
              "label": "Flash"
            },
            {
              "value": "pulse",
              "label": "Pulse"
            },
            {
              "value": "rubberBand",
              "label": "Rubberband"
            },
            {
              "value": "shake",
              "label": "Shake"
            },
            {
              "value": "swing",
              "label": "Swing"
            },
            {
              "value": "tada",
              "label": "tada"
            },
            {
              "value": "wobble",
              "label": "Wobble"
            },
            {
              "value": "jello",
              "label": "Jello"
            },
            {
              "value": "heartBeat",
              "label": "HeartBeat"
            },
            {
              "value": "bounceIn",
              "label": "BounceIn"
            },
            {
              "value": "bounceInDown",
              "label": "Bounce In Down"
            },
            {
              "value": "bounceInLeft",
              "label": "Bounce In Left"
            },
            {
              "value": "bounceInRight",
              "label": "Bounce In Right"
            },
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInDown",
              "label": "Fade In Down"
            },
            {
              "value": "fadeInLeft",
              "label": "Fade In Left"
            },
            {
              "value": "fadeInRight",
              "label": "Fade In Right"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "flipInX",
              "label": "Flip In X"
            },
            {
              "value": "flipInY",
              "label": "Flip In Y"
            },
            {
              "value": "lightSpeedIn",
              "label": "Light Speed In"
            },
            {
              "value": "slideInUp",
              "label": "Slide In Up"
            },
            {
              "value": "slideInRight",
              "label": "Slide In Right"
            },
            {
              "value": "slideInDown",
              "label": "Slide In Down"
            },
            {
              "value": "slideInLeft",
              "label": "Slide In Left"
            },
            {
              "value": "zoomIn",
              "label": "Zoom In"
            }
          ]
        },    
        {
          "type": "header",
          "content": "Image or Video Slideshow"
        },
        {
          "type": "checkbox",
          "id": "ena_slide_video",
          "label": "Enable Slide Video"
        },
        {
          "type": "textarea",
          "id": "url_ytb_video",
          "label": "Iframe Youtube Or Vimeo Video"
        },
        {
          "type": "image_picker",
          "id": "block_banerimage",
          "label": "Image On Desktop",
          "info": "1920 x 900px recommended"
        },
        {
          "type": "image_picker",
          "id": "block_banerimage_mb",
          "label": "Image On Mobile",
          "info": " 500x 600px recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW-V2Custom Scroll",
      "category": "HOME",
      "blocks": [
		{
          "type": "slideshow",
          "settings": {
		    "block_sub_title": "Soapic Store",
            "block_title": "Natural Bathing Bar",
			"block_sub_title2": "Handcrafted with bursts of zesty appeal",
			"block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
		    "block_sub_title": "Perfect Gift",
            "block_title": "Skincare Product",
			"block_sub_title2": "Introducing the new technology!",
			"block_buton": "Shop now"
          }
        },
        {
          "type": "slideshow",
          "settings": {
		    "block_sub_title": "Just For You",
            "block_title": "100% Natural Soap",
			"block_sub_title2": "I have the goodness of orange lemons",
			"block_buton": "Shop now"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    function scrollToSectionById(idSelector) {
      const targetSection = document.getElementById(idSelector.replace('#', ''));
      if (targetSection) {
        const yOffset = -150; // adjust for sticky header/extra space
        const y = targetSection.getBoundingClientRect().top + window.pageYOffset + yOffset;
        window.scrollTo({ top: y, behavior: "smooth" });
      }
    }

    // Click handler: Button Universal 2
    document.querySelectorAll(".button-universal2").forEach(link => {
      link.addEventListener("click", function(e) {
        const hrefValue = this.getAttribute("href");
        if (hrefValue && hrefValue.startsWith("#")) {
          e.preventDefault();
          scrollToSectionById(hrefValue);
        }
      });
    });

    // Click handler: Button Shop (dynamic per block.id)
    document.querySelectorAll('[class*="button-shop-"]').forEach(link => {
      link.addEventListener("click", function(e) {
        const hrefValue = this.getAttribute("href");
        if (hrefValue && hrefValue.startsWith("#")) {
          e.preventDefault();
          scrollToSectionById(hrefValue);
        }
      });
    });

    // On page load: if URL has a hash, override default browser jump
    if (window.location.hash) {
      // Reset scroll to top first to cancel the browser's default behavior
      window.scrollTo(0, 0);

      // Then trigger your custom smooth scroll
      setTimeout(() => {
        scrollToSectionById(window.location.hash);
      }, 100);
    }
  });
</script>



{% endjavascript %}
